<header>
 
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "Youtube", youtube_path %></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Home", root_path %></li>
      <% if current_user %>
        <li><%= link_to "Signout", signout_path %></li>
        <%= current_user.user_id %>
      <% else %>
        <li><%= link_to "Sign facebook", "/auth/facebook" %></li>
        <li><%= link_to "Sign google", "/auth/google_oauth2" %></li>
    <% end %>

    </ul>

    <h3 class="muted">G&G Project</h3>
  </div>

</header>


